@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html {
  scroll-behavior: smooth;
}


body {
  background-color: #FFF;
  font-family: 'Muli', sans-serif;
  width: 100;
  margin: 0;
  padding: 0;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #fff;
}

#ccInfo {
  color: #fff;
  padding: 7px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, #009FFF, #ec2F4B) 1 1%;
  background-color: rgba(255,255,255,0);
  font-size: 13pt;
}

.top-dark {
  background-color: rgb(32,32,32);
  color: #fff;
  height: 100px;
  text-align: right;
}


#headerImg {
  width: 125px;
  height: 125px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, #009FFF, #ec2F4B) 1 1%;
  background-color: #000;
  margin-left: 25px;
  margin-top: 25px;
  position: absolute;
  line-height: 125px;
  text-align: center;
  font-size: 1.8em;
  font-weight: bolder;
}

#topBtnCont {
}

.topBtn {
  transition-duration: 0.3s;
  display: inline-block;
  height: 100px;
  width: 200px;
  line-height: 100px;
  text-align: center;
  font-size: 1.2em;
}

.topBtn:hover {
  background-color: coral;
  font-size: 1.8em;
}

.undrLink {
  display: inline-block;
  font-weight: bolder;
  background: linear-gradient(to right, #009FFF, #ec2F4B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.undrLink:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #fff;
  transition: 0.6s;
}

.undrLink:hover:after {
  width: 100%;
}

#main-container {
  display: flex;
  flex-direction: space-evenly;
  justify-content: space-evenly;
  align-items: center;
  height: 1000px;
  background-image: url('img/seemless.jpg');
  background-size: 250px;
  background-repeat: repeat;
  background-position: bottom;
  background-attachment: fixed;
}

#second-container {
  display: flex;
  flex-direction: space-evenly;
  justify-content: space-evenly;
  align-items: center;
  height: 1000px;
  background-image: url('img/seemless-dark.jpg');
  background-size: 250px;
  background-repeat: repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.card-dark {
  display: inline-block;
  text-align: center;
  width: 350px;
  height: 350px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, #009FFF, #ec2F4B) 1 1%;
  background-color: rgb(32,32,32);
}

.cardHeader-dark {
  width: 350px;
  height: 75px;
  background-color: #000;
  line-height: 75px;
  font-size: 1.5em;
}

.card-light {
  color: #000;
  display: inline-block;
  text-align: center;
  width: 350px;
  height: 350px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, #009FFF, #ec2F4B) 1 1%;
  background-color: rgb(242, 242, 242);
}

.cardHeader-light {
  color: #000;
  width: 350px;
  height: 75px;
  background-color: rgb(224, 224, 224);
  line-height: 75px;
  font-size: 1.5em;
}

.middle-dark {
  background-color: rgb(32,32,32);
  padding-top: 25px;
  text-align: center;
  font-size: 1.2em;
  padding: 150px 15px;
}

.bottom-dark {
  background-color: rgb(32,32,32);
  padding-top: 25px;
  text-align: center;
  font-size: 1.2em;
  padding: 50px 15px;
}

#about {
  font-size: 1.8em;
}
